.App {
  text-align: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container {
    column-gap: 20px;
}
button.btn.btn-primary.ae {
  margin-right: 120px;
}
.input-group.flex-nowrap {
  margin-bottom: 10px;
}
img {
  width: 10px;
  position: absolute;
}